body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: whitesmoke;
}

main {
  background-color: whitesmoke;
  justify-self: center;
  text-align: center;
  margin-top: 15px;
}

header {
  font-family: mason-serif, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  background-image: url("/forest.png");
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

h1 {
  font-weight: 100;
  color: whitesmoke;
}

h2 {
  font-family: mason-serif, sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
  text-align: center;
}

h3 {
  font-family: mason-serif, sans-serif;
  font-size: 1.35rem;
  font-weight: 600;
}

p {
  font-family: democratica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1rem;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  width: 100%;
  height: auto;
  max-width: 350px;
  filter: drop-shadow(5px 5px 3px);
}

ul {
  display: grid;
  grid-gap: 30px;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  max-width: 650px;
}

li {
  list-style: none;
  text-align: center;
  border: solid white;
  border-radius: 10px;
  background-color: #cfcfcf;
  box-shadow: 0 5px 5px rgba(57, 63, 72, 0.3);
}